<!-- ======= Header ======= -->
<header id="header" class="fixed-top ">
  <div class="container d-flex align-items-center justify-content-between">

    <a href="index.html" class="logo"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>
    <!-- Uncomment below if you prefer to use an text logo -->
    <!-- <h1 class="logo"><a href="index.html">Folio</a></h1> -->

    <nav id="navbar" class="navbar">
      <ul>
        <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
        <li><a class="nav-link scrollto" href="#about">About</a></li>
        <li><a class="nav-link  scrollto" href="#portfolio">Portfolio</a></li>
        <li><a class="nav-link  scrollto" href="#journal">Blog</a></li>
        <li class="dropdown"><a href="#"><span>Drop Down</span> <i class="bi bi-chevron-down"></i></a>
          <ul>
            <li><a href="#">Drop Down 1</a></li>
            <li class="dropdown"><a href="#"><span>Deep Drop Down</span> <i class="bi bi-chevron-right"></i></a>
              <ul>
                <li><a href="#">Deep Drop Down 1</a></li>
                <li><a href="#">Deep Drop Down 2</a></li>
                <li><a href="#">Deep Drop Down 3</a></li>
                <li><a href="#">Deep Drop Down 4</a></li>
                <li><a href="#">Deep Drop Down 5</a></li>
              </ul>
            </li>
            <li><a href="#">Drop Down 2</a></li>
            <li><a href="#">Drop Down 3</a></li>
            <li><a href="#">Drop Down 4</a></li>
          </ul>
        </li>
        <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav><!-- .navbar -->

  </div>
</header><!-- End Header -->

<!-- ======= Hero Section ======= -->
<div id="hero" class="home">

  <div class="container">
    <div class="hero-content">
      <h1> Zaher Najib <span class="typed" data-typed-items="Zaher Najib, Designer, Developer, Freelancer"></span></h1>
      <p> I'm Developer, Designer, Freelancer</p>

      <ul class="list-unstyled list-social">
        <li><a href="https://github.com/zahernajib70"><i class="bi bi-github"></i></a></li>
        <li><a href="https://www.linkedin.com/in/zaher-najib-928063203/"><i class="bi bi-linkedin"></i></a></li>
        <li><a href="mailto:zahernajib@gmail.com"><i class="bi bi-envelope"></i></a></li>
        <li><a href="https://wa.me/+96170395280"><i class="bi bi-whatsapp"></i></a></li>
      </ul>
    </div>
  </div>
</div><!-- End Hero -->

<main id="main">

  <!-- ======= About Section ======= -->
  <div id="about" class="paddsection">
    <div class="container">
      <div class="row justify-content-between">

        <div class="col-lg-4 ">
          <div class="div-img-bg">
            <div class="about-img">
              <img src="assets/img/zaher.jpg" class="img-responsive" alt="me">
            </div>
          </div>
        </div>

        <div class="col-lg-7">
          <div class="about-descr">

            <p class="p-heading">I'm Zaher Najib a software developer from
              Lebanon. I have a good knowledge and experience
              in developing full stack websites using the MEAN
              Stack, .NET, SQL, Firebase and more. Also I enjoy
              developing Cross Platform Mobile applications
              using cutting edge technolgies like flutter.
              So I'm looking forward to put my tech skills into
              practice by helping you building your dream
              software solution.
            </p>

          </div>

        </div>
      </div>
    </div>
  </div><!-- End About Section -->

  <!-- ======= Services Section ======= -->
  <div id="services">
    <div class="container">

      <div class="services-slider swiper" data-aos="fade-up" data-aos-delay="100">
        <div class="swiper-wrapper">

          <div>
            <div class="services-block">
              <i class="bi bi-briefcase"></i>
              <span>Full Stack web Developer</span>
              <p class="separator">I like to code things from scratch, and enjoy bringing ideas to life in the browser.
              </p>

            </div>
          </div><!-- End testimonial item -->

          <!-- <div>
            <div class="services-block">
              <i class="bi bi-card-checklist"></i>
              <span>Front End Developer</span>
              <p class="separator">I like to code things from scratch, and enjoy bringing ideas to life in the browser.</p>
            </div>
          </div> -->
          <!-- End testimonial item -->

          <div>
            <div class="services-block">
              <i class="bi bi-phone"></i>
              <span>MOBILE Developer</span>
              <p class="separator">Mobile developer responsible for full app life-cycle: concept, design, build, test,
                deploy and release to the app store </p>
            </div>
          </div><!-- End testimonial item -->

          <div>
            <div class="services-block">
              <i class="bi bi-bar-chart"></i>
              <span>WEB DESIGN</span>
              <p class="separator">I value simple content structure, clean design patterns, and thoughtful interactions.
              </p>

            </div>
          </div><!-- End testimonial item -->







        </div>
        <div class="swiper-pagination"></div>
      </div>

    </div>

  </div><!-- End Services Section -->

  <!-- ======= Portfolio Section ======= -->
  <div id="portfolio" class="paddsection">

    <div class="container">
      <div class="section-title text-center">
        <h2>My Project</h2>
      </div>
    </div>

    <div class="container">

      <div class="row">
        <div class="col-lg-12 d-flex justify-content-center">
          <ul id="portfolio-flters">
            <li data-filter="*" class="filter-active">All</li>
            <li data-filter=".filter-web">Web</li>
            <li data-filter=".filter-app"> Mobile App</li>
          </ul>
        </div>
      </div>

      <div class="row portfolio-container">

        <a href="https://sa7se7-63bc6.web.app/menu" class="details-link" title="More Details">
          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <img
              src="https://res.cloudinary.com/zahernajib78/image/upload/c_scale,h_252,w_336/v1656780769/Go2parts/sa7se7_pwkbdv.png"
              class="img-fluid" alt="">
            <div class="portfolio-info ">
              <h4>sa7se7 </h4>
              <p>Online food delivery</p>
              <!-- <a href="assets/img/portfolio/portfolio-4.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Card 2"><i class="bx bx-plus"></i></a> -->
              <a href="https://sa7se7-63bc6.web.app/menu" class="details-link" title="More Details"><i
                  class="bx bx-link"></i></a>
            </div>
          </div>
        </a>



        <a href="https://zahernajib70.github.io/MyPortfolio/" class="details-link" title="More Details">
          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <img
              src="https://res.cloudinary.com/zahernajib78/image/upload/c_scale,h_252,w_336/v1656487032/Go2parts/Screenshot_2022-06-29_101740_lmqx3l.png"
              class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Portfolio</h4>
              <p>Portfolio website </p>
              <a href="https://zahernajib70.github.io/MyPortfolio/" class="details-link" title="More Details"><i
                  class="bx bx-link"></i></a>
            </div>
          </div>
        </a>


        <a href="https://zahernajib77.github.io/Admin-website" class="details-link" title="free download">
          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <img
              src="https://res.cloudinary.com/zahernajib78/image/upload/c_scale,h_252,w_336/v1654671634/Go2parts/1_jxqeor.jpg"
              class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Admin Dashboard</h4>
              <p>website using Angular+firebase</p>
              <!-- <a href="https://zahernajib77.github.io/Admin-website" data-gallery="" class="portfolio-lightbox preview-link" title="Admin Dashboard"><i class="bx bx-plus"></i></a> -->
              <a href="https://zahernajib77.github.io/Admin-website" class="details-link" title="free download"><i
                  class="bx bx-link"></i></a>
            </div>
          </div>
        </a>
       
        <a href="https://abdelbacet-creator.github.io/seniorAdminWebApp/register" class="details-link"
        title="More Details"> <div class="col-lg-4 col-md-6 portfolio-item filter-web">
          <img
            src="https://res.cloudinary.com/zahernajib78/image/upload/c_scale,h_252,q_100,r_0,w_336/v1656483946/Go2parts/shopwoner_rna52v.png"
            class="img-fluid" alt="">
          <div class="portfolio-info">
            <h4>Shop Owner Website</h4>
            <p>Website using Angular and firebase allow
              shop-Owner to upload products</p>
            <!-- <a href="assets/img/portfolio/portfolio-2.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Web 3"><i class="bx bx-plus"></i></a> -->
            <a href="https://abdelbacet-creator.github.io/seniorAdminWebApp/register" class="details-link"
              title="More Details"><i class="bx bx-link"></i></a>
          </div>
        </div></a>
       



        <!-- <a href="portfolio-details.html" class="details-link" title="More Details"> -->
          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <img
              src="https://res.cloudinary.com/zahernajib78/image/upload/c_scale,h_290,q_84:420,w_336/v1656781195/Go2parts/Home_qgbr7m.jpg"
              class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Go2parts</h4>
              <p>Mobile app using flutter</p>
              <!-- <a href="assets/img/portfolio/portfolio-5.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Web 2"><i class="bx bx-plus"></i></a> -->
              <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>
        <!-- </a> -->


        
        <!-- <a href="portfolio-details.html" class="details-link" title="More Details"> -->
          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <img src="assets/img/portfolio/portfolio-6.jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>App 3</h4>
              <p>App</p>
              <!-- <a href="assets/img/portfolio/portfolio-6.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="App 3"><i class="bx bx-plus"></i></a> -->
              <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>
        <!-- </a> -->

       

      </div>

    </div>

  </div><!-- End Portfolio Section -->

  <!-- ======= Journal Section ======= -->
  <!-- <div id="journal" class="text-left paddsection">

    <div class="container">
      <div class="section-title text-center">
        <h2>journal</h2>
      </div>
    </div>

    <div class="container">
      <div class="journal-block">
        <div class="row">

          <div class="col-lg-4 col-md-6">
            <div class="journal-info">

              <a href="blog-single.html"><img src="assets/img/blog-post-1.jpg" class="img-responsive" alt="img"></a>

              <div class="journal-txt">

                <h4><a href="blog-single.html">SO LETS MAKE THE MOST IS BEAUTIFUL</a></h4>
                <p class="separator">To an English person, it will seem like simplified English
                </p>

              </div>

            </div>
          </div>

          <div class="col-lg-4 col-md-6">
            <div class="journal-info">

              <a href="blog-single.html"><img src="assets/img/blog-post-2.jpg" class="img-responsive" alt="img"></a>

              <div class="journal-txt">

                <h4><a href="blog-single.html">WE'RE GONA MAKE DREAMS COMES</a></h4>
                <p class="separator">To an English person, it will seem like simplified English
                </p>

              </div>

            </div>
          </div>

          <div class="col-lg-4 col-md-6">
            <div class="journal-info">

              <a href="blog-single.html"><img src="assets/img/blog-post-3.jpg" class="img-responsive" alt="img"></a>

              <div class="journal-txt">

                <h4><a href="blog-single.html">NEW LIFE CIVILIZATIONS TO BOLDLY</a></h4>
                <p class="separator">To an English person, it will seem like simplified English
                </p>

              </div>

            </div>
          </div>

        </div>
      </div>
    </div>

  </div> -->
  <!-- End Journal Section -->

  <!-- ======= Contact Section ======= -->
  <!-- <div id="contact" class="paddsection">
    <div class="container">
      <div class="contact-block1">
        <div class="row">

          <div class="col-lg-6">
            <div class="contact-contact">

              <h2 class="mb-30">GET IN TOUCH</h2>

              <ul class="contact-details">
                <li><span>Lebanon</span></li>
                <li><span>+961 70395280</span></li>
                <li><span>zahernajib77@gmail.com</span></li>
              </ul>

            </div>
          </div>

          <div class="col-lg-6">
            <form action="forms/contact.php" method="post" role="form" class="php-email-form">
              <div class="row gy-3">

                <div class="col-lg-6">
                  <div class="form-group contact-block1">
                    <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
                  </div>
                </div>

                <div class="col-lg-6">
                  <div class="form-group">
                    <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
                  </div>
                </div>

                <div class="col-lg-12">
                  <div class="form-group">
                    <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
                  </div>
                </div>

                <div class="col-lg-12">
                  <div class="form-group">
                    <textarea class="form-control" name="message" placeholder="Message" required></textarea>
                  </div>
                </div>

                <div class="col-lg-12">
                  <div class="loading">Loading</div>
                  <div class="error-message"></div>
                  <div class="sent-message">Your message has been sent. Thank you!</div>
                </div>

                <div class="mt-0">
                  <input type="submit" class="btn btn-defeault btn-send" value="Send message">
                </div>

              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div> -->
  <!-- End Contact Section -->

</main><!-- End #main -->

<!-- ======= Footer ======= -->
<div id="footer" class="text-center">
  <div class="container">
    <div class="socials-media text-center">

      <ul class="list-unstyled list-social">
        <li><a href="https://github.com/zahernajib70"><i class="bi bi-github"></i></a></li>
        <li><a href="https://www.linkedin.com/in/zaher-najib-928063203/"><i class="bi bi-linkedin"></i></a></li>
        <li><a href="mailto:zahernajib@gmail.com"><i class="bi bi-envelope"></i></a></li>
        <li><a href="https://wa.me/+96170395280"><i class="bi bi-whatsapp"></i></a></li>
      </ul>

    </div>



  </div>
</div><!-- End Footer -->